.u-section-1 .u-sheet-1 {
  min-height: 759px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 639px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 15px;
}

.u-section-1 .u-image-1 {
  height: 590px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  height: 479px;
  width: 521px;
  margin: -515px auto 36px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 639px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  font-style: normal;
  text-transform: none;
  margin: 0 auto 0 0;
}

.u-section-1 .u-line-1 {
  width: 360px;
  height: 0;
  margin: 19px auto 0 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 0px;
  line-height: 2;
  font-size: 1rem;
  margin: 43px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.875rem;
  letter-spacing: 1px;
  margin: 19px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 527px;
  }

  .u-section-1 .u-image-1 {
    height: 481px;
  }

  .u-section-1 .u-image-2 {
    height: 405px;
    width: 440px;
    margin-top: -406px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 527px;
  }

  .u-section-1 .u-line-1 {
    width: 350px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 607px;
  }

  .u-section-1 .u-image-1 {
    height: 361px;
  }

  .u-section-1 .u-image-2 {
    height: 304px;
    margin-top: -332px;
    margin-bottom: 29px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-line-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 586px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0 10px;
  }

  .u-section-1 .u-image-1 {
    height: 537px;
    width: 508px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    height: 468px;
    width: 508px;
    margin: -507px auto 39px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 369px;
  }

  .u-section-1 .u-image-1 {
    height: 338px;
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    height: 286px;
    width: 306px;
    margin-top: -312px;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 888px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  width: 758px;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 570px;
  margin: 21px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 35px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 582px;
  grid-gap: 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 160px;
  height: 160px;
  background-image: url("images/pexels---12089085.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  font-style: normal;
  margin: -160px 0 0 193px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 21px 76px 0 193px;
}

.u-section-2 .u-text-5 {
  font-weight: 300;
  font-size: 1rem;
  margin: 18px 92px 0 193px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 160px;
  height: 160px;
  background-image: url("images/pexels-shvets-production-7191774.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  font-style: normal;
  margin: -160px 0 0 193px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 21px 76px 0 193px;
}

.u-section-2 .u-text-8 {
  font-weight: 300;
  font-size: 1rem;
  margin: 18px 92px 0 193px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 160px;
  height: 160px;
  background-image: url("images/pexels-hasibullah-zhowandai-819530.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-9 {
  font-style: normal;
  margin: -160px 0 0 193px;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  margin: 21px 76px 0 193px;
}

.u-section-2 .u-text-11 {
  font-weight: 300;
  font-size: 1rem;
  margin: 18px 92px 0 193px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  width: 160px;
  height: 160px;
  background-image: url("images/s84-pm-2698-ploy-mockup.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-12 {
  font-style: normal;
  margin: -160px 0 0 193px;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  margin: 21px 76px 0 193px;
}

.u-section-2 .u-text-14 {
  font-weight: 300;
  font-size: 1rem;
  margin: 18px 92px 0 193px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 480px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 69px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 85px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 69px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 85px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 69px;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 85px;
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 69px;
    margin-left: 0;
  }

  .u-section-2 .u-text-14 {
    margin-right: 85px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1942px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 66px;
    margin-right: 66px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    margin-left: auto;
  }

  .u-section-2 .u-text-6 {
    width: auto;
  }

  .u-section-2 .u-text-7 {
    width: auto;
  }

  .u-section-2 .u-text-8 {
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    margin-left: auto;
  }

  .u-section-2 .u-text-9 {
    width: auto;
  }

  .u-section-2 .u-text-10 {
    width: auto;
  }

  .u-section-2 .u-text-11 {
    width: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    margin-left: auto;
  }

  .u-section-2 .u-text-12 {
    width: auto;
  }

  .u-section-2 .u-text-13 {
    width: auto;
  }

  .u-section-2 .u-text-14 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}